.winner, .board, body h3, .fail {
  display: none;
}

body h3 {
  float: right;
}

.fail {
  color: red;
}

.col-md-4 {
  border: 2px solid black;
  background-color: lightgrey;
}

.row {
  font-size: 50px;
  text-align: center;
  width: 300px;
  height: 100px;
  margin-left: 300px;
}
